# gradlew will download these
gradle/
.gradle/

# This points to the Android SDK
local.properties

# This are built from templates by build.py
build.gradle
AndroidManifest.xml
res/drawable/*
res/values/*
assets/bootstrap.html

# These are created by build.py.
assets/app/
assets/python/

# These are created by ndk-build.
obj/
libs/armeabi/

# Created by Gradle.
build/

# We never want to store files of these types
*.pyc
*.pyo
*.o
*.a

